
@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@utility transition-all-theme {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

html, body {
  @apply transition-all-theme;
}